body{ 
	background-color:rgb(109, 22, 39);
	font-family: 'Montserrat', "sans-serif";
	color: white
}
img{
	max-width:3%;
	max-height:3%;
	display: inline;
	float:right;
	vertical-align: top;
}
  }
a{
 	color:rgb(194, 196, 194)
}
h3{
	float:right;
	display: inline;
	vertical-align: top;
	margin: none;
	border: none;
}
.grid-container{
display: grid;
grid-template-columns: 70% 20% 10%;
}

.grid-item{
background-color: blue;
text-align: center;
padding: 10px;

}
