body{ 
	background-color:rgb(109, 22, 39);
	font-family: 'Montserrat', "sans-serif";
	color: white
}
img{
	width: 25px;
	height: 25px;
	display: inline;
	float:right;
	vertical-align: top;
	margin: 5px 2px 0 0;
	
}

a{
 	color: rgb(194, 196, 194);
 	text-decoration: none;
}
h5{
	text-align: right;
	display: inline;
	vertical-align: top;
	margin: 10px 5px 0 0;
}
h3{
text-decoration: underline;	
}
.grid-container{
	display: grid;
	grid-template-columns: 92% 8%;
{
